<section>
    <h4>Helplines</h4>
    <h6>States</h6>
    <div class="row">
      <div class="col-sm-6">
        <ul>
        <li>Andhra Pradesh - <i class="fa fa-phone" aria-hidden="true"></i> 0866-2410978</li>
        <li>Arunachal Pradesh - <i class="fa fa-phone" aria-hidden="true"></i> 9436055743</li>
        <li>Assam - <i class="fa fa-phone" aria-hidden="true"></i> 6913347770</li>
        <li>Bihar - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
        <li>Chhattisgarh - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
        <li>Goa - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
        <li>Gujarat - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
        <li>Haryana - <i class="fa fa-phone" aria-hidden="true"></i> 8558893911</li>
        <li>Himachal Pradesh - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
        <li>Jharkhand - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
        <li>Karnataka - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
        <li>Kerala - <i class="fa fa-phone" aria-hidden="true"></i> 0471-2552056</li>
        <li>Madhya Pradesh - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
        <li>Maharashtra - <i class="fa fa-phone" aria-hidden="true"></i> 020-26127394</li>
      </ul></div>
      <div class="col-sm-6">
        <ul>
          <li>Manipur - <i class="fa fa-phone" aria-hidden="true"></i> 3852411668</li>
          <li>Meghalaya - <i class="fa fa-phone" aria-hidden="true"></i> 108</li>
          <li>Mizoram - <i class="fa fa-phone" aria-hidden="true"></i> 102</li>
          <li>Nagaland - <i class="fa fa-phone" aria-hidden="true"></i> 7005539653</li>
          <li>Odisha - <i class="fa fa-phone" aria-hidden="true"></i> 9439994859</li>
          <li>Punjab - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
          <li>Rajasthan - <i class="fa fa-phone" aria-hidden="true"></i> 0141-2225624</li>
          <li>Sikkim - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
          <li>Tamil Nadu - <i class="fa fa-phone" aria-hidden="true"></i> 044-29510500</li>
          <li>Telangana - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
          <li>Tripura - <i class="fa fa-phone" aria-hidden="true"></i> 0381-2315879</li>
          <li>Uttarakhand - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
          <li>Uttar Pradesh - <i class="fa fa-phone" aria-hidden="true"></i> 18001805145</li>
          <li>West Bengal - <i class="fa fa-phone" aria-hidden="true"></i> 1800313444222, 03323412600</li>
        </ul>
      </div>
    </div>
    <hr>
    <h6>Union Territory</h6>
    <div class="row">
      <div class="col-sm-6">
        <ul>
          <li>Andaman and Nicobar
            Islands - <i class="fa fa-phone" aria-hidden="true"></i> 03192-232102</li>
          <li>Chandigarh - <i class="fa fa-phone" aria-hidden="true"></i> 9779558282</li>
          <li>Dadra and Nagar Haveli and Daman & Diu - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
          <li>Delhi  - <i class="fa fa-phone" aria-hidden="true"></i> 011-22307145</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <li>Jammu & Kashmir  - <i class="fa fa-phone" aria-hidden="true"></i> 01912520982, 0194-2440283</li>
          <li>Ladakh - <i class="fa fa-phone" aria-hidden="true"></i> 01982256462</li>
          <li>Lakshadweep - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
          <li>Puducherry  - <i class="fa fa-phone" aria-hidden="true"></i> 104</li>
        </ul>
      </div>
    </div>
  </section>