<div class="container">
    <app-header id="home"></app-header>
    <app-chart></app-chart>
    <app-tracker id="tracker"></app-tracker>
  <section id="symptoms" style="margin-top: 50px;">
    <h4>Symptoms</h4>
    <div class="row">
      <div class="col-sm-6">
        <h4>Common Symptoms</h4>
        <ul>
          <li>fever</li>
          <li>tiredness.</li>
          <li>dry cough.</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h4>Some people may experience</h4>
        <ul>
          <li>aches and pains.</li>
          <li>nasal congestion.</li>
          <li>runny nose.</li>
          <li>sore throat.</li>
          <li>diarrhoea.</li>
        </ul>
      </div>
    </div>
    <p>On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can
      take up to 14 days.
      People with mild symptoms who are otherwise healthy should self-isolate. Seek medical attention if you have a
      fever, a cough, and difficulty breathing. Call ahead.</p>
  </section>
   <app-helpline id="helplines"></app-helpline>
</div>
